.add-task-form * {
  box-sizing: border-box;
}

.add-task-form {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.add-task-form label {
  display: block;
  margin: 20px 0 10px;
}
.add-task-input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: #f5f5f5;
  font-size: 1.2rem;
}

.add-task-btn {
  width: 40%;
  display: block;
  padding: 14px 20px;
  margin: 35px auto;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
}

.add-task-btn:hover,
.back-btn:hover {
  background-color: #463a79;
}

button[disabled] {
  pointer-events: none;
  background-color: var(--grey-color);
  color: var(--dark-grey-color);
}

.add-task-form-title {
  text-align: center;
}

.text-save {
  text-align: center;
  color: green;
}

.text-blank {
  text-align: center;
  color: red;
}

.back-btn {
  background-color: var(--theme-color);
  width: 10%;
  display: block;
  padding: 12px 10px;
  margin: 20px 200px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.back-btn i {
  float: left;
}
