.navbar {
  background-color: var(--theme-color);
  padding: 0.7rem 1.5rem;
  line-height: 2.2rem;
  box-sizing: border-box;
}
.links {
  float: right;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 17px;
}

.links a {
  margin: 0 5px;
  padding: 0 5px;
}

.links .router-link-active {
  border-bottom: 2px solid white;
}

.navbar a {
  display: inline-block;
}
